---
import Buttom from './Buttom.astro';
const sections = [
  { id: 'home', icon: 'home', label: 'Home', path:'/' },
  { id: 'projects', icon: 'code', label: 'Proyectos', path:'/projects' },
  { id: 'skills', icon: 'sparkle', label: 'Skills', path:'/skills' },
  { id: 'about', icon: 'coffee', label: 'Sobre mí', path:'/about' },
  { id: 'contact', icon: 'mail', label: 'Contacto', path:'/contact' }
];

const {layout}= Astro.props;
---
<nav class={`bg-rose-100 flex ${layout} py-5 md:p-10 place-content-around gap-2 justify-center items-center`}>
  {sections.map(section => (
    <Buttom label={section.label} key={section.id} icon={section.icon} path={section.path}>
    </Buttom>
  ))}
</nav>
